RewriteEngine On

#RewriteCond %{HTTP_HOST} ^www.eco-urn\.ru$ [NC]
#RewriteRule ^(.*)$ https://eco-urn.ru/$1 [R=301,L]
#
#RewriteCond %{HTTPS} !=on
#RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]

# Determine the RewriteBase automatically and set it as environment variable.
#RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
#RewriteRule ^(.*) - [E=BASE:%1]

# If the requested filename exists, simply serve it.
# We only want to let Apache serve files and not directories.
#RewriteCond %{REQUEST_FILENAME} -f
#RewriteRule .? - [L]
#
## Rewrite all other queries to the front controller.
#RewriteRule .? %{ENV:BASE}/index.php [L]


RewriteRule ^api/(.*)$ index.php/$1 [L]

#RewriteCond %{REQUEST_URI} !^/site/dist/
#RewriteCond %{REQUEST_URI} !^/index-api\.php
#RewriteRule (.*)$ site/dist/$1 [L]